@font-face{
    font-family: Proxima Nova;
    src: url(../../assets/fonts/ProximaNova-Regular.otf) format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: Proxima Nova;
    src: url(../../assets/fonts/ProximaNovaBold.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: Proxima Nova;
    src: url(../../assets/fonts/ProximaNovaThin.otf) format("opentype");
    font-weight: normal;
    font-style: 100;
}
@font-face{
    font-family: Inter;
    src: url(../../assets/fonts/Inter-Bold-slnt=0.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: Inter;
    src: url(../../assets/fonts/Inter-Regular-slnt=0.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: Inter;
    src: url(../../assets/fonts/Inter-ExtraLight-slnt=0.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}
.About {}
.clearfix{float: none; clear: both;}
ul{padding:0; margin:0; float: right; margin-right: 20px; padding: 37px;}
li{display: inline-block; padding-left: 20px;}
a{color: #fff; font-size: 18px; text-decoration: none; font-family: Proxima Nova;}
.gyrcontainer{height: 100%; width: 100%;}
.header{width: 100%; float: left; height: 100px; background-color: #2a2d30; box-shadow: 0px 10px 38px 0px; }
.logo{position: absolute; top: 10px; left: 20px; float: left; height: 60px; width: 250px;}
.logo img{width: 100%; height: 100%; float: left;}
.homecontainer{margin-top: 25px; padding: 25px 70px;}
.gfthptitle{font-size: 25px; font-weight: bold; margin-top: 15px; padding: 10px 0; color: #484848; font-family: Proxima Nova;}
.indend, .glyphiconokcircle, .noindend, .glyphiconchevronleft, .gftmarginTop{font-family: Inter; font-size: 18px; line-height: 1.5}
.pg-title{font-weight: 600; font-family: Proxima Nova; font-size:18px}
.pg-nme{float: left; width: 180px;}
.bottom-menu{float: right; width: 65%; margin-right: 110px;}
.pgname ul{padding: 0; margin-right: 0; padding:0; margin-top: 10px;}
.pgname ul li{list-style-type: none; line-height: 1.8; width: 100%; padding:0;}
.pgname ul li a{color: #000;}
.addrnme{font-weight: 600; font-family: Proxima Nova; font-size:18px}
.officeaddr{line-height: 1.8; float: left}
.mainnme{font-weight: bold; color: #a4251c;}
.fst-service:hover{
    transform: scale(1.10);
    transition: all 0.3s ease 0s;
}
.endborder{margin:50px 100px; height:2px; background-color: #ad18097a;}
.firstservice{position: relative; float:left}
.cpyrgt{width: 30%; text-align: center; float: left; margin-bottom: 10px; font-size: 11px; font-family: Inter;}
.footercpyrgt{padding: 5px 20px;}
.abtaddr{width: 45%; padding: 0px 0 0 100px; float:left; line-height: 1.6;}
.gyrpwrdby{padding: 0px 20px;}
.footerabtus{font-weight: bold; padding-bottom: 10px;}
.strong{ font-weight: bold}
.footer{width: 100%; float:left; border-top: 1px solid #a4251c; margin-top: 20px;}
.sclmedialink{float: right; margin-right: 50px;}
.sclmedialink ul li{display: inline; padding-left: 15px;}
.menu{position: absolute; top: 40px; right: 0px; width: 30%;}
.menu ul{margin:0; padding:0;
    li{float: left; display: inline-block; padding-left: 35px;
        a{color:#fff; font-size: 18px; cursor: default; font-family: Proxima Nova; font-weight: 100}
    }
}
.iconweb{font-size: 25px; color:#a4251c; padding-bottom: 15px;}
.pgtitle{font-weight: 600; font-family: Proxima Nova; font-size:18px}
.pgnme{float: left; width: 180px;}
.bottommenu{float: right; width: 65%; margin-right: 110px;}